node_modules/
.DS_Store
*.tmp
.env
uploads/original/*
!uploads/original/.gitkeep
uploads/optimized/*
!uploads/optimized/.gitkeep
uploads/thumbnails/*
!uploads/thumbnails/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
